.author {
    margin-right: 1rem;
}

.author::before {
    content: "[";
}

.author::after {
    content: "]";
}

.inline {
    display: inline;
}

.status {
    font-style: italic;
    font-weight: 600;
}